*
{
    margin:0;
    padding:0;
}

body
{
    font-family:;
}


#header-div
{
    width:100%;
    height:65px;
}

#header-nav
{
    width:1150px;
    background-color:rgb(255, 255, 255);
    margin:0 auto;
    height:65px;
}

#logo
{
    width:130px;
    margin-top:10px;
    float:left;
}

#item-search
{
    font-size:15px;
    width:350px;
    height:30px;
    margin-left:20px;
    margin-right:-5px;
    padding-bottom:2px;
    position:relative;
    top:15px;
    float:left;
}

#search-icon
{
    width:40px;
    position:relative;
    top:12px;
    float:left;
}

#sign-in-button
{
    float:right;
    width:75px;
    height:40px;
    background:#0073b1;
    color:#fff;
    border:none;
    margin-top: 12px;
    font-weight:bold;
    font-size:18px;
    outline:none;
}

#sign-in-button:hover
{
    background:#0a4768;
}

.nav-links
{
    text-decoration:none;
    font-weight:bold;
    float:right;
    color:black;
    font-family:poppins;
}

.nav-links:hover
{
    text-decoration:underline;
}

.register
{
    margin-top:18px;
    font-size:18px;
    margin-right:40px;
}

.find-store
{
    margin-top:18px;
    font-size:18px;
    margin-right:40px;
    
}

#location-logo
{
    margin-top:20px;
    width:20px;
}


.help
{
    margin-top:18px;
    font-size:18px;
    margin-right:40px;
}
#faq-logo
{
    margin-top:20px;
    width:20px;
    margin-right:5px;
}


#store-option
{
    position:absolute;
    top:19px;
    margin-left:-142px;
    height:28px;
    border:2px #68a51c solid;
    font-size:11px;
    width:100px;
    -webkit-appearance: none; 
    padding:5px;
    outline:none;
}

/*-----styling header-nav2----------*/

#header-nav2
{
    width:100%;
    background-color:#f6f6f6;
    margin:0 auto;
    height:50px;
}

#nav2-div
{
    width:1150px;
    margin:0 auto;
    height:40px;
}

.clear
{
    clear:both;
}

.nav2-links
{
    float:left;
    font-family:Poppins;
    margin-top:12px;
    border-left:1px #3d3d3d solid;
    padding:0 55px;
    text-align:center;
    
}


.nav2-links a
{
    text-decoration :none;
    list-style-type: none;
    color:#3d3d3d;
}

.nav2-links a:hover
{
    text-decoration: underline;
}

#more-options
{
    height: 15px;
    position:relative;
    top:2px;
}

.links
{
    margin-left: -3px;
}

#product-display
{
    width:1150px;
    margin:0 auto;
}