*
{
    margin:0;
    padding:0;
}

body
{
    font-family:poppins,Verdana, Geneva, Tahoma, sans-serif
}


#header-div
{
    width:100%;
    height:65px;
}

#header-nav
{
    width:1150px;
    background-color:rgb(255, 255, 255);
    margin:0 auto;
    height:65px;
}

#logo
{
    width:130px;
    margin-top:10px;
    float:left;
}

#item-search
{
    font-size:15px;
    width:350px;
    height:30px;
    margin-left:20px;
    margin-right:-5px;
    padding-bottom:2px;
    position:relative;
    top:15px;
    float:left;
    outline:none;
}


#search-icon
{
    width:40px;
    position:relative;
    top:12px;
    float:left;
}

#sign-in-button
{
    float:right;
    width:75px;
    height:40px;
    background:#0073b1;
    color:#fff;
    border:none;
    margin-top: 12px;
    font-weight:bold;
    font-size:18px;
    outline:none;
}

#sign-in-button:hover
{
    background:#0a4768;
}

.nav-links
{
    text-decoration:none;
    font-weight:bold;
    float:right;
    color:black;
    font-family:poppins;
}

.nav-links:hover
{
    text-decoration:underline;
}

.register
{
    margin-top:18px;
    font-size:18px;
    margin-right:40px;
}

.find-store
{
    margin-top:18px;
    font-size:18px;
    margin-right:40px;
    
}

#location-logo
{
    margin-top:20px;
    width:20px;
}


.help
{
    margin-top:18px;
    font-size:18px;
    margin-right:40px;
}
#faq-logo
{
    margin-top:20px;
    width:20px;
    margin-right:5px;
}


#store-option
{
    position:absolute;
    top:19px;
    margin-left:-142px;
    height:28px;
    border:2px #68a51c solid;
    font-size:11px;
    width:100px;
    -webkit-appearance: none; 
    padding:5px;
    outline:none;
}

/*-----styling header-nav2----------*/

#header-nav2
{
    width:100%;
    background-color:#f6f6f6;
    margin:0 auto;
    height:50px;
}

#nav2-div
{
    width:1150px;
    margin:0 auto;
    height:40px;
}

.clear
{
    clear:both;
}

.nav2-links
{
    float:left;
    font-family:Poppins;
    margin-top:12px;
    border-left:1px #3d3d3d solid;
    padding:0 55px;
    text-align:center;
    
}


.nav2-links a
{
    text-decoration :none;
    list-style-type: none;
    color:#3d3d3d;
}

.nav2-links a:hover
{
    text-decoration: underline;
}

#more-options
{
    height: 15px;
    position:relative;
    top:2px;
}

.links
{
    margin-left: -3px;
}

#product-display
{
    width:1150px;
    margin:0 auto;
}

#price-lock-div
{
    width:1150px;
    margin:0 auto;
    height:300px;
    background:#d43030;
    cursor: pointer;

}


#lock-div
{
    width:345px;
}

#lock-div-image
{
    padding-top:10px;
    float:left;
}

#low-price-div
{
    width:805px;
    float:right;
}

#low-price-div p
{
    text-align:center;
    font-family:poppins;
    font-size: 64px;
    color:white;
    line-height: 1;
    position:relative;
    top:70px;
    font-weight:bold;
}


#low-price-button
{
    background:#68a51c;
    padding:13px;
    width:210px;
    border:none;
    color:white;
    font-weight:bold;
    font-size:15px;
    position:relative;
    left:40%;
    top:75px;
    outline:none;

}

#low-price-button:hover
{
    background:#3f680c;
    cursor: pointer;
}

#more-links-div
{
    
    height:90px;
    width:1150px;
}

.more-link
{
    width:20%;
    border:1px #68a51c solid;
    background:white;
    height:65px;
    position:relative;
    top:14px;
    float:left;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    
}

.more-link:hover
{
    cursor: pointer;
    border:2px #68a51c solid;
}

.more
{
    margin-left:8px;
    width:19%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.more:hover
{
    cursor: pointer;
    border:2px #68a51c solid;
}

.more1
{
    width:19%;
}

.more1 p
{
    margin-left:30px;
}
#cross-image
{
    width:25%;
    float:left;
}

#more-links-div p
{
   font-family:poppins; 
   font-size:13px;
   line-height: 1.3;
   padding:15px;
}

#shop-safe-div
{
    width:1150px;
    height:150px;
    background:rgb(211,211,218);
    background: linear-gradient(
        0deg
        , rgba(211,211,218,1) 0%, rgba(255,255,255,1) 50%, rgba(211,211,218,1) 100%);
    border-radius:10px;
    border:4px solid #68a51c;
    
}

#shop-safe-container
{
    text-align:center;
    padding-top:25px;
    font-family:poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#shop-id
{
    font-size:28px;
    font-weight:bold;
    line-height: 30px;
}

#find-out
{
    background:#68a51c;
    padding:13px;
    width:180px;
    border:none;
    color:white;
    font-weight:bold;
    font-size:15px;
    outline:none;
    border-radius:5px;
}

#image1-container
{
    display:flex;
}

#img1
{
    max-width:100%;
   
}

#img2
{
    width:280px;
}

#img3
{
    height:300px;
    padding-left:15px;
}

#img4
{
    height:300px;
    padding-top:5px;
    
}

#image-left
{
    margin-top:15px;
}

#image-right
{
    margin-top:15px;
    padding-left:20px;
}


#image2-container
{
    margin-top:15px;
    display:flex; 
    justify-content: space-between; 
}

#img5
{
    height:300px;
    width:540px;
}

#img6
{
    height:300px;
    position:relative;
    right:-2px;
}

/*
.img-border:hover
{
    border:2px solid #68a51c;
}
*/

#mid-section-div
{
    margin-top:20px;
    width:100%;
    background:#eff4f7;
    height:150px;
}

#mid-section-icons
{
    width:1150px;
    margin:0 auto;
    height:150px;
    background:#eff4f7;
    display:flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap:wrap;
}

.icon-class p
{
    text-align:center;
    font-family:poppins, Geneva, Tahoma, sans-serif;
    font-size:12px;
    line-height:1.2;
    
}
.icon-class img
{
    padding:5px;
}
#icons8
{
    margin-left:15px;
}

footer
{
    margin-top:20px;
    width:100%;
    height:630px;
    background:#f6f6f6;
}

#find-out-more
{
    background:#68a51c;
    padding:13px;
    width:150px;
    border:none;
    color:white;
    font-weight:bold;
    font-size:15px;
    outline:none;
    border-radius:5px;
}

#find-out-div
{
    width:1150px;
    margin:0 auto;
    height:130px;
    display:flex;
    justify-content: space-between;
    align-items:center;
    border-bottom:1px solid rgb(216, 216, 216);
}

#p-span
{
    width:60%;
    height:50px;
    margin-top:10px;
}

